<div>
  <div class="lists-banner">
    <h2>Mes listes</h2>
    <%= link_to "Nouvelle liste", new_list_path, class: "btn btn-success"  %>
  </div>
   <div class="lists-grid container">
    <% if @lists.present? %>
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do  %>
          <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/436413/pexels-photo-436413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
            <%= list.name %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>C'est le moment de se créer une liste !!</p>
    <% end %>
  </div>
</div>
