<div class="container text-center w-25">
  <h1 class="my-5">Créer une nouvelle liste:</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <div class="my-5">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
