.list-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  // position:fixed;
  // top: 1;
  // left: 0;
  // width: 100%;

  & h2 {
    text-shadow:   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 10px #141414;
     color:#fff;
    font-size: 56px;
    font-weight: 700;
  }
}
