.navbar-lewagon {
  justify-content: space-between;
  background: #edf6f9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  padding-left: 5px;
}
.lists-black {
  color: black;
  position: absolute;
  right: 50px;
  top: 10px;
}
